.Navigation {
  background-image: url(./croppedGirlInCity.png);
  opacity: 0.5;
  background-size: cover;
  height: 15em;
}

.Navigation__text {
  padding-left: 50px;
  padding-top: 100px;
  font-size: 24px;
  color: rgb(205, 234, 252);
}

.Navigation__item {
  display: inline;
  background-color: rgb(77, 157, 205);
  z-index: 1;
}

.Navigation__item a {
  display: inline-block;
  padding: 8px 8px;
}
